.circle{
    width: 5rem;
    height: 5rem;
    border: 1px solid purple;
    border-radius: 50%;
}
.value{
    color: purple;
    font-size: 1.5rem;
}
.innercircle{
    width: 4rem;
    height:4rem;
    border: 1px solid purple;
    border-radius: 50%;
    margin: auto;
    margin-top: 8%;
    background-color: white;
    display: grid;
    place-items: center;
}